.login-form {
  border-radius: 25px;
  padding: 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .login-form {
    background-image: url('../../assets/cats_background.jpg');
  }
}

@media only screen and (min-width: 500px) {
  .login-form {
    width: 450px;
  }
}