@font-face{
  font-family: AlegreyaSans;
  src: url(AlegreyaSans.otf);
}

.search-user-list .rce-citem-body--top-time {
  display: none;
}

.rce-citem-body--bottom .rce-citem-body--bottom-title {
  color: gray;
}

.mobile-view-friends-box {
  background-color: #EBEBEB;
  padding: 10px;
  height: 100%;
}

.mobile-view-chat-box {
  height: 100%;
  background-color: #EBEBEB;
}

.rce-container-mlist.message-list {
  height: calc(100% - 95px);
  background: white;
  border-radius: 25px 25px 0px 0px;
  padding-top: 15px;
  box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-image: url('../../assets//chatbox_background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.chat-box-title {
  height: 50px;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

.rce-mbox-text {
  padding: 8px;
}

.portfolio {
  color: black;
    font-size: 12px;
    font-style: normal;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    font-weight: 600;
    letter-spacing: 6.4px;
    line-height: 28.8px;
    font-family: AlegreyaSans;
    position: absolute;
    bottom: 2px;
    text-align: center;
    width: 100%;
}
